html {
    box-sizing: border-box;
}

*, ::after, ::before {
    box-sizing: inherit;
}

.nav {
    
    margin-top: 10px;
    margin-bottom: 40px;
    display: flex;
    justify-content: space-around;
}

.nav__navItem {
    font-size: 16px;
    color: #304945;
    text-decoration: none;
    margin: 20px;
    padding: 10px;
    width: 200px;
    text-align: center;
}

.nav__navItem:visited {
    color:#263a36;
}

.nav__navItem:hover {
    color:#E7DCD7;
    background-color:#3a5854;
    border-bottom: 1px solid #3a5854;
    outline: none;
    
}

.nav__navItem:active {
    color:#263a36;
    border-bottom: 1px solid #263a36;

}
